<?php
return array(
    'di' => array(
        'instance' => array(
            'alias' => array(
                'browser' => 'Heartsentwined\Browser\Factory',
            ),
            'browser' => array(
                'parameters' => array(
                    'cookieDir'         => 'data/tmp/cookie',
                    'cookieLife'        => 1440,
                    'connectTimeout'    => 120,
                    'options'           => array(),
                    'headers'           => array(),
                ),
            ),
        ),
    ),
);
